<div class="conteiner mt-5 container3Params">
    <div class="row">
        <div class="col-lg-8 offset-lg-2  card mt-5">
            <div class="card-body text-center">
                <div class="d-flex flex-row justify-content-evenly">
                    <h2 class=" text-dark">Listado de personal</h2>
                    <button class="btn btn-dark">Registrar</button>
                </div>
                <table class="table table-striped table-success">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">First</th>
                            <th scope="col">Last</th>
                            <th scope="col">Handle</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                            <td>
                                <i class="fa-sharp fa-solid fa-user-pen text-primary"></i>
                                <i class="fa-solid fa-trash-arrow-up text-danger"></i>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                            <td>
                                <i class="fa-sharp fa-solid fa-user-pen text-primary"></i>
                                <i class="fa-solid fa-trash-arrow-up text-danger"></i>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td colspan="2">Larry the Bird</td>
                            <td>@twitter</td>
                            <td>
                                <i class="fa-sharp fa-solid fa-user-pen text-primary"></i>
                                <i class="fa-solid fa-trash-arrow-up text-danger"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>