<div class="conteiner">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card-body text-center">
                <div class="d-flex flex-row justify-content-evenly">
                    <h2>Listado de personal</h2>
                    <button class="btn btn-dark">Registrar</button>
                </div>
                <table class="table table-striped table-success">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellido</th>
                            <th scope="col">Especialidad</th>
                            <th scope="col">Fecha de nacimiento</th>
                            <th scope="col">telefono</th>
                            <th scope="col">Correo</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Christophe</td>
                            <td>Chadoutaud</td>
                            <td>Cirujano</td>
                            <td>15/07/1980</td>
                            <td>310 2159661</td>
                            <td>Christ123@gmail.com</td>
                            <td>
                                <i class="fa-sharp fa-solid fa-user-pen text-primary"></i>
                                <i class="fa-solid fa-trash-arrow-up text-danger"></i>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Christophe</td>
                            <td>Chadoutaud</td>
                            <td>Cirujano</td>
                            <td>15/07/1980</td>
                            <td>310 2159661</td>
                            <td>Christ123@gmail.com</td>
                            <td>
                                <i class="fa-sharp fa-solid fa-user-pen text-primary"></i>
                                <i class="fa-solid fa-trash-arrow-up text-danger"></i>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Christophe</td>
                            <td>Chadoutaud</td>
                            <td>Cirujano</td>
                            <td>15/07/1980</td>
                            <td>310 2159661</td>
                            <td>Christ123@gmail.com</td>
                            <td>
                                <i class="fa-sharp fa-solid fa-user-pen text-primary"></i>
                                <i class="fa-solid fa-trash-arrow-up text-danger"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>