<body>
    <section class="row">
        <div class="col-1">
                <img src="../../../assets/img/eps.png" alt="">            
            <div class="d-flex"></div>
        </div>
        <button class="col-1 btn-dash btn btn-sm">
            <i class="fa fa-fw fa-bars"></i>
        </button>
        <form action="#" class="col-2">
            <div class="position-relative">
                <input type="text" class="form-control px-3" placeholder="Buscar...">
                <button class="btn btn-primary" type="button">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
                
        </form>        
        <div class="col-md-3 bg-primary text-white">
            <h1 class="titulo fw-bold fs-2 text-center py-5 px-3">Más salud
                <hr class="border border-white bg-white border-2 opacity-100 ps-1">
            </h1>
            <ul class="listaul fs-5">
                <li class="pb-4">
                    <i class="fa-solid fa-user-doctor px-3 py-2 icon"></i>
                    Doctores</li>
                <li class="pb-4">
                    <i class="fa-solid fa-hospital-user px-3"></i>
                    Pacientes</li>
                <li class="pb-4">
                    <i class="fa-solid fa-hand-holding-medical px-3"></i>
                    Medicamentos</li>
                <li class="pb-4">
                    <i class="fa-solid fa-calendar-days px-3"></i>
                    Citas</li>
                <li class="pb-4">
                    <i class="fa-solid fa-door-open px-3"></i>
                    Salir</li>
            </ul>
        </div>
        
    </section>
</body>